// @import '../colors/colors.scss';

$red: rgb(225, 38, 29);
$white: rgb(255, 255, 255);
$almost-white: rgb(241, 241, 241);
$dark-blue: rgb(40, 40, 54);
$grey: rgb(149, 149, 149);
$black: rgb(0, 0, 0)