@import '../media/media.scss';
@import '../bg-img/bg-img.scss';
@import '../colors/colors.scss';

.footer {
    background-color: rgb(46, 45, 44);
    padding: 44px 0 24px;

    .logo-footer-container {
        .logo-wrap {
            width: 30px;
            height: 36px;
    
            .logo {
                background-image: url('../../assets/images/logo.svg');
                @extend %bg-img;
            }
        }
    }
    .category-container, .info-container, .contact-us-container  {
        .title, .contact-us-title {
            color: $white;
            font-size: 20px;
            font-family: SF Pro Display;
            font-weight: 200;
        }
        .nav-list {
            list-style: none;
        }
        .nav-list li a {
            color: $white;
            font-size: 17px;
            font-weight: 300;
        }
    }
    .contact-us-container {
        .contact-us-numbers-container {
            margin-top: 25px;
            .number a {
                font-size: 20px;
                font-weight: 300;
                color: $white;
                font-family: SF Pro Display;
                text-decoration: none;
            }
        }
        .time {
            font-size: 14px;
            font-family: SF Pro Display;
            font-weight: 400;
            color: $white;
            margin-top: 5px;
        }
    }
}