@import '../media/media.scss';
@import '../bg-img/bg-img.scss';

.footer {
    background-color: rgb(46, 45, 44);
    padding: 44px 0 24px;

    .logo-footer-container {
        .logo-footer-wrap {
            width: 30.45px;
            height: 36px;
    
            .logo-footer {
                background-image: url('../../assets/images/logo.svg');
                @extend %bg-img;
            }
        }
    }
    .footer-category-container, .footer-info-container, .contact-us-container  {
        .footer-category-title, .footer-info-title, .contact-us-title {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-family: SF Pro Display;
            font-weight: 200;
        }
        .footer-nav-list {
            list-style: none;
        }
        .footer-nav-list li a {
            color: white;
            font-size: 17px;
            font-weight: 300;
        }
    }
    .contact-us-container {
        .contact-us-numbers-container {
            margin-top: 25px;
            .contact-us-number a {
                font-size: 20px;
                font-weight: 300;
                color: rgb(255, 255, 255);
                font-family: SF Pro Display;
                text-decoration: none;
            }
        }
        .contact-us-time {
            font-size: 14px;
            font-family: SF Pro Display;
            font-weight: 400;
            color: rgb(255, 255, 255);
            margin-top: 5px;
        }
    }
}