@import '../media/media.scss';
@import '../bg-img/bg-img.scss';
@import '../colors/colors.scss';

.fa-shopping-bag {
    font-size:36px; 
    cursor: pointer;
}

.header {

    .header-top-container {
        border-bottom: 1px solid $almost-white;
        justify-content: space-between;

        .logo-container {
            width: 84px;
            height: 36px;
            margin-right: 30px;

            .logo {
                background-image: url('../../assets/images/logo_main.png');
                @extend %bg-img;
            }
        }

        .logo-container:hover {
            cursor: pointer;
        }

        .search-container {
            width: 360px;
            @include for-xs-phone-only {
                width: 60%;
            }
            @include for-sm-phone-only {
                width: 60%;
            }
            @include for-small-phone-only {
                width: 60%;
            }
            @include for-phone-only {
                width: 150px;
            }
            @include for-tablet-portrait-up {
                width: 250px;
            }
            @include for-tablet-landscape-up {
                width: 350px;
            }
            @include for-desktop-up {
                width: 400px;
            }
            @include for-big-desktop-up {
                width: 425px;
            }

            .search {
                height: 36px;
                box-sizing: border-box;
                padding-left: 32px;
                background-color: $almost-white;
                border: 1px solid $almost-white;
                @include for-xs-phone-only {
                    width: 80%;
                }
                @include for-sm-phone-only {
                    width: 100%;
                }
                @include for-small-phone-only {
                    width: 100%;
                }
                @include for-phone-only {
                    width: 150px;
                }
                @include for-tablet-portrait-up {
                    width: 250px;
                }
                @include for-tablet-landscape-up {
                    width: 350px;
                }
                @include for-desktop-up {
                    width: 400px;
                }
                @include for-big-desktop-up {
                    width: 425px;
                }
            }
        }
        .info-menu {
            @include for-xs-phone-only {
                display: none;            
            }
            @include for-sm-phone-only {
                display: none;            
            }
            @include for-phone-only {
                margin-right: 20px;
                display: flex;      
                margin-left: 15px;      
            }
            @include for-tablet-landscape-up {
                margin-right: 200px;
                margin-left: 30px;
            }
            @include for-desktop-up {
                margin-right: 300px;
            }
            @include for-big-desktop-up {
                margin-right: 350px;
            }
            .hightligh a{
                border: 1px solid $red;
            }

            .info-menu-item a {
                color: $red;
                text-decoration: none;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 1.5;
                display: inline-block;
                border-radius: 3px;
                @include for-phone-only {
                    margin-right: 3px;
                }
                @include for-tablet-landscape-up {
                    margin-right: 6px;
                }
            }
            .info-menu-item a:hover {
                background-color: $red;
                color: $white;
            }
        }
        .header-icon-container {
            width: 26px;
            height: 26px;
            .header-icon {
               background-image: url('../../assets/images/shopping-bags-png-black-and-white-png-file-svg-884.png');
                @extend %bg-img;
            }
        }
    }

    .header-menu {
        height: 60px;
        .menu-container {
            list-style: none;
            @include for-xs-phone-only {
                margin-left: 0;
            }
            @include for-sm-phone-only {
                margin-left: 0;
            }
     
            .menu-item {
                height: 60px;
                line-height: 60px;
            }

            .menu-item:hover {
                background-color: $almost-white;
                cursor: pointer;
            }

            .menu-item a {
                text-decoration: none;
                padding: 0 15px;
                font-size: 16px;
                color: $dark-blue;
                letter-spacing: 1px;
            }
            .menu-item a:hover {
                color: $red;
            }
        }
        .online-chat-container {
            font-size: 10px;
            letter-spacing: .2px;
            font-weight: 600;
            font-family: SF Pro Display;
            color: $red;
            height: 60px;
            line-height: 60px;
            width: 90px;
            @include for-xs-phone-only {
                margin-left: 10px;
                display: none;
            }
            @include for-sm-phone-only {
                display: none;
            }
            @include for-small-phone-only {
                margin-left: 10px;
            }
            @include for-phone-only {
                margin-left: 10px;
            }
            @include for-tablet-portrait-up {
                margin-left: 160px;
            }
            @include for-tablet-landscape-up {
                margin-left: 200px;
            }
            @include for-desktop-up {
                margin-left: 360px;
                display: block;
            }
            @include for-big-desktop-up {
                margin-left: 360px;
            }
        }
        .online-chat-container:hover {
            background-color: $almost-white;
            cursor: pointer;
        }
        .phone-container {
            width: 210px;
            height: 60px;
            @include for-xs-phone-only {
                display: none;
            }
            @include for-sm-phone-only {
                display: none;
            }
            @include for-desktop-up {
                margin-left: 60px;
                display: block;
            }
            .header-phone-header {
                font-size: 10px;
                letter-spacing: .2px;
                font-weight: 600;
                font-family: SF Pro Display;
                color: $red;
                margin-right: 20px;
                margin-top: 10px;
            }
            .number {
                margin-right: 20px;
                font-size: 16px;
                font-family: SF Pro Display;
                font-weight: 700;
                color: $dark-blue;
                border-bottom: 1px dashed;
                display: inline-block;
            }
        }
        .phone-container:hover {
            background-color: $almost-white;
            cursor: pointer;
        }
    }
}